<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<body>
<section layout:fragment="body">
    <div class="container">
        <form role="form" method="post" th:action="@{/expenses/create}" th:object="${expense}" class="row g-3" >
            <div class="col-md-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" th:field="*{title}" id="title">
                <p th:if="${#fields.hasErrors('title')}" class="text-danger" th:errors="*{title}"></p>
            </div>
            <div class="col-md-3">
                <label for="content" class="form-label">Content</label>
                <input type="text" class="form-control" th:field="*{content}" id="content">
                <p th:if="${#fields.hasErrors('content')}" class="text-danger" th:errors="*{content}"></p>
            </div>
            <div class="col-md-3">
                <label for="value" class="form-label">Value</label>
                <input type="number" class="form-control" th:field="*{value}" id="value">
                <p th:if="${#fields.hasErrors('value')}" class="text-danger" th:errors="*{value}"></p>
            </div>
            <div class="col-md-3">
                <label for="expenseDate" class="form-label">Expense Date</label>
                <input type="date" class="form-control" th:field="*{expenseDate}" id="expenseDate">
                <p th:if="${#fields.hasErrors('expenseDate')}" class="text-danger" th:errors="*{expenseDate}"></p>
            </div>
            <div class="col-md-3">
                <label for="type" class="form-label">Type</label>
                <input type="text" class="form-control" th:field="*{type}" id="type">
                <p th:if="${#fields.hasErrors('type')}" class="text-danger" th:errors="*{type}"></p>
            </div>
            <div class="col-md-6">
                <label for="personId" class="form-label">Person</label>
                <select class="form-control" th:field="*{personId}">
                    <option th:each="person :${persons}" th:text="${person.name}" th:value="${person.id}" id="personId"></option>
                </select>
                <p th:if="${#fields.hasErrors('personId')}" class="text-danger" th:errors="*{personId}"></p>
            </div>
            <div class="col-md-6">
                <label for="cardId" class="form-label">Card</label>
                <select class="form-control" th:field="*{cardId}">
                    <option th:each="person :${cards}" th:text="${card.name}" th:value="${card.id}" id="cardId"></option>
                </select>
                <p th:if="${#fields.hasErrors('cardId')}" class="text-danger" th:errors="*{cardId}"></p>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</section>

</body>
</html>