<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<body>
<section layout:fragment="body">
    <div class="container">
        <form role="form" method="post" th:action="@{/expenses/create}" th:object="${expense}" class="row g-3" >
            <div class="col-md-3">
                <label for="lastFourDigits" class="form-label">Last Four Digits</label>
                <input type="text" class="form-control" th:field="*{lastFourDigits}" id="lastFourDigits">
                <p th:if="${#fields.hasErrors('lastFourDigits')}" class="text-danger" th:errors="*{lastFourDigits}"></p>
            </div>
            <div class="col-md-3">
                <label for="expirationDate" class="form-label">Expiration Date</label>
                <input type="date" class="form-control" th:field="*{expirationDate}" id="expirationDate">
                <p th:if="${#fields.hasErrors('expirationDate')}" class="text-danger" th:errors="*{expirationDate}"></p>
            </div>
            <div class="col-md-3">
                <label for="closingDate" class="form-label">Closing Date</label>
                <input type="date" class="form-control" th:field="*{closingDate}" id="closingDate">
                <p th:if="${#fields.hasErrors('closingDate')}" class="text-danger" th:errors="*{closingDate}"></p>
            </div>
            <div class="col-md-3">
                <label for="dueDate" class="form-label">Due Date</label>
                <input type="date" class="form-control" th:field="*{dueDate}" id="dueDate">
                <p th:if="${#fields.hasErrors('dueDate')}" class="text-danger" th:errors="*{dueDate}"></p>
            </div>
            <div class="col-md-3">
                <label for="cardLimit" class="form-label">Limit</label>
                <input type="number" class="form-control" th:field="*{cardLimit}" id="cardLimit">
                <p th:if="${#fields.hasErrors('cardLimit')}" class="text-danger" th:errors="*{cardLimit}"></p>
            </div>
            <div class="col-md-3">
                <label for="brand" class="form-label">Brand</label>
                <input type="text" class="form-control" th:field="*{brand}" id="brand">
                <p th:if="${#fields.hasErrors('brand')}" class="text-danger" th:errors="*{brand}"></p>
            </div>
            <div class="col-md-6">
                <label for="personId" class="form-label">Person</label>
                <select class="form-control" th:field="*{personId}">
                    <option th:each="person :${persons}" th:text="${person.name}" th:value="${person.id}" id="personId"></option>
                </select>
                <p th:if="${#fields.hasErrors('personId')}" class="text-danger" th:errors="*{personId}"></p>
            </div>
            <div class="col-md-6">
                <label for="cardId" class="form-label">Card</label>
                <select class="form-control" th:field="*{cardId}">
                    <option th:each="person :${cards}" th:text="${card.name}" th:value="${card.id}" id="cardId"></option>
                </select>
                <p th:if="${#fields.hasErrors('cardId')}" class="text-danger" th:errors="*{cardId}"></p>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</section>

</body>
</html>