<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<body>
<section layout:fragment="body">
  <div class="container">
    <div th:if="${param.error}" class="alert alert-success">
      Invalid username and password.
    </div>
    <div th:if="${param.logout}" class="alert alert-success">
      You have been logged out.
    </div>
    <form method="post" th:action="@{/login}" class="row g-12" >
      <div class="form-group">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" id="username">
      </div>
      <div class="form-group">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="password">
      </div>
      <button th:href="@{/register}" type="submit" class="btn btn-black">Create account</button>
      <button type="submit" value="Log in" class="btn btn-secondary">Login</button>
    </form>
  </div>
</section>
</body>
</html>