<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<body>
<section layout:fragment="body">
    <div class="container">
        Name: <p th:text="${person.name}"></p>
        Birthdate: <p th:text="${#temporals.format(person.birthdate, 'dd-MM-yyyy')}"></p>
        Age: <p th:text="${person.age}"></p>
        Sex: <p th:text="${person.sex}"></p>
        Salary: <p th:text="${person.salary}"></p>
    </div>
    <div class="container">
        <table class="table table-hover">
            <tr>
                <th>Number</th>
                <th>Closing</th>
                <th>Due</th>
                <th>Limit</th>
                <th>Brand</th>
                <th>Expiration</th>
            </tr>
            <tr th:each="person :${persons}">
                <td th:text="${person.cards.getLastFourDigits}"></td>
                <td th:text="${person.cards.getClosingDate}"></td>
                <td th:text="${person.cards.getDueDate}"></td>
                <td th:text="${person.cards.getLimit}"></td>
                <td th:text="${person.cards.getBrand}"></td>
                <td th:text="${person.cards.getExpirationDate}"></td>
            </tr>
        </table>
    </div>
    <div class="container">
        <table class="table table-hover">
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Value</th>
                <th>Date</th>
                <th>Type</th>
            </tr>
            <tr th:each="person :${persons}">
                <td th:text="${person.expenses.getTitle}"></td>
                <td th:text="${person.expenses.getContent}"></td>
                <td th:text="${person.expenses.getValue}"></td>
                <td th:text="${person.expenses.getDate}"></td>
                <td th:text="${person.expenses.getType}"></td>
            </tr>
        </table>
    </div>
</section>
</body>
</html>