<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body>
<section layout:fragment="body">
  <div class="container">
    <table class="table table-hover">
      <tr>
        <th>Name</th>
        <th>Sex</th>
        <th>Birthdate</th>
        <th>Age</th>
        <th>Salary</th>
        <th>Edit</th>
      </tr>
      <tr th:each="person :${persons}">
        <td th:text="${person.name}"></td>
        <td th:text="${person.sex}"></td>
        <td th:text="${#temporals.format(person.birthdate, 'dd-MM-yyyy')}"></td>
        <td th:text="${person.age}"></td>
        <td th:text="${person.salary}"></td>
        <td><a class="btn btn-primary" th:href="@{persons/{personId}/edit(personId=${person.id})}">Edit</a></td>
      </tr>
    </table>
  </div>
</section>
</body>
</html>